.hidden {
    display: none;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0px 0px 0px;
    padding-bottom: 1px;
    border-bottom:  1px solid rgba(211,211,211, .2);
    background-color: white;
    position: sticky;
    top: 0px;
}
.right-nav-user-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.right-nav-user-icons > p {
    font-size: 10px;
    padding: 10px;
}
.air-your-home{
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 12px 12px 12px 12px;
    background-color: white;
    color: #484848;
    font-size: 8px;
    font-weight: 600;

    transition-property: background-color;
}
.air-your-home:hover {
    background-color: #F8F8F8 ;
}

.left-nav-icons {
    display: flex;
    margin-left: 20px;
}

.demo-user-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    background-color: #FF5A60;
    border:0px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-size: 10px;
    color: white;
    box-shadow: 0px;
    transition-property: box-shadow;
}

.demo-user-button:hover{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4)
}

.demo-user-container{
    background-color:;
}
